.container {
    display: flex;
    flex-direction: column;
    width:  270px;
    min-height: 300px;
    max-height: 300px;
    padding: 1em 1em 0.3em;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.600);
}

.container h3 {
    font-size: 1.1em;
    color: #4f4399;
    min-height: 1.1em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #836FFF;
    overflow: auto;
}

.note_content {
    overflow: auto;
    font-size: 1.1em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #836FFF;
    min-height: 215px;
    max-height: 215px;
    padding-bottom: 0.5em;
}

/* Container com os botões e a data */
.note_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.note_buttons .date {
    color: rgb(107, 107, 107);
    font-weight: bold;
}

.note_buttons button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s;
}

.note_buttons button:hover {
    transform: scale(1.2);
}

.btn_edit {
    color: rgb(30, 144, 255);
    font-size: 1.1em;
}

.btn_delete {
    color: rgb(186, 4, 4);
    margin-left: 0.5em;
    font-size: 1.1em;
}

/* Scrollbar do conteúdo das notas */
.note_content::-webkit-scrollbar,
.container h3::-webkit-scrollbar {
    width: 7px;
}

.note_content::-webkit-scrollbar-track,
.container h3::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}

.note_content::-webkit-scrollbar-thumb,
.container h3::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.250);
    border-radius: 5px;
}